*
{
    margin: 0px;
}
.tellez
{
    background-color: darkgreen;
    padding: 200px;
}
.tapia
{
    background-color: aqua;
    padding: 200px;
}
.sebas
{
    background-color: chocolate;
    padding: 200px;
}
.franco
{
    background-color: chartreuse;
    padding: 200px;

}
.diana
{
    background-color: darkred;
    padding: 200px;

}
.teahyuing
{
    background-color: midnightblue;
    padding: 200px;
}